body {
    margin:0;
    font-family: Segoe UI Light, Segoe UI, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 8rem;
    background-color: #187AD9;
    display: flex;
    justify-content: space-between;
    color:#F6F6F6;
    position: sticky;
}
header nav {
    display: flex;
    align-items: center;
}
header a {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    text-decoration: none;
    color: #F6F6F6;
}
header img {
    height: 2.5rem;
}
header nav:first-child img:first-child {
    height: 2.75rem;
    margin-left: 3rem;
}
header h1 {
    text-decoration: none;
}
header nav:first-child img:last-child {
    height: 1.95rem;
    margin-left: 0.5rem;
}
header nav:last-child {
    margin-right: 3rem;
}
header form {
    display: flex;
    margin-right: 4rem;
    height: 3rem;
}
header form input {
    background-color: #F6F6F6;
    width: 20rem;
    border: none;
    outline: none;
    font-size: large;
    padding-left: 1rem;
    border-bottom-left-radius: 0.15rem;
    border-top-left-radius: 0.15rem;
}
header button {
    background-color: #F6F6F6;
    border: none;
    cursor: pointer;
    border-top-right-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
}
header section {
    width: 5.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.nadpis {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}

.dekorace-cara {
    width:90% ;
    background-color: #70707070;
    height: 2px;
    position: absolute;
}
.bili-prostor {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}
main .doporucene-produkty {
    background-color: #DCDCDC;
    width: 100%;
    height: 25rem;

}
.sipky-doporuceny-produkt {
    height: 21rem;
    display: flex;
}
.slider-polozky {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-polozky .polozka {
    height: 1rem;
    width: 3rem;
    background-color: #FFFFFF;
    margin: 0.5rem;
    border-radius: 0.15rem;
}
.slider-polozky .polozka:first-child {
    background-color: #1c1c1c;
}
.sipka {
    width: 10%;
    margin: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.sipka img {
    height: 5rem;

}
.sipka:last-child img:last-child {
    transform: scaleX(-1);
}
.doporuceny-produkt {
    width: 70%;
    height: 19rem;
    margin-top: 2rem;
    background: #FFFFFF;
    border-radius: 0.15rem;
    display: flex;
}
.doporuceny-produkt .obrazek {
    height: inherit;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.doporuceny-produkt .obrazek img {
    height: 16rem;
    width: 16rem;
}
.doporuceny-produkt .parametry {
    padding: 1rem;
    width: 70%;
}
.doporuceny-produkt .parametry h3 {
    font-size: 2rem;
    margin: 0.25rem 0 0.75rem 0;
}
.cena-recenze {
    display: flex;
}
.cena-recenze b {
    color:#C70000;
    font-size: 2rem;

}
.cena-recenze .recenze  {
    background-color: #DCDCDCDC;
    margin-left: 1rem;
    height: inherit;
    width: 5rem;
    border-radius: 0.15rem;
    display: flex;
    align-items: center;
    padding-left:0.5rem ;
}
.cena-recenze .recenze img {
    height: 2rem;
}
.cena-recenze .recenze .hodnota-recenze {
    display:flex;
    justify-content: center;
    height: inherit;
    width: 100%;
    font-size: larger;
    font-weight: bold;
}
.parametry p {
    width: 75%;
    height: 6.75rem;
    margin-bottom: 0;
    color: #919191;
}
.parametry .tlacitko {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.parametry .tlacitko a {
    width: 3rem;
    background-color: #C70000;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #F6F6F6;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 1rem;
}
.produkty-ve-sleve {
    width: 100%;
    display: flex;
    justify-content: center;

}
.produkt-ve-sleve {
    width: 15rem;
    height: 30rem;
    border: #70707070 solid 1px;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.obrazek-nazev {
    display: flex;
    flex-direction: column;
}
.obrazek-nazev img {
    height: 12rem;
    width: 12rem;
}
.obrazek-nazev h3 {
    margin: 0.45rem 0 0.25rem 0.25rem;
}
.obrazek-nazev h4 {
    margin: 0.25rem 0 5rem 0.25rem;
    color:#70707090 ;
}
.produkt-ve-sleve .dekorace-cara {
    position: static;
    width: 80%;
}
.ceny {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 2rem;
}
.produkt-ve-sleve s {
    color: #70707090;
}
.produkt-ve-sleve b {
    color:#C70000;
    font-size: xx-large;
}