main {
    min-height: 80vh;
}

main > form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}
main > section {
    padding: 1rem;
    display: flex;
}
main > section > div {
    display: flex;
    flex-wrap: wrap;
}
main >section >div a {
    margin-right: 1rem;
}
body main > nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
body main > div {
    background-color: #d6d6d6;
}
body main > div ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 0;
    flex-wrap: wrap;
}
body main > div ul li {
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.1rem;
    margin: 0.5rem;
}
body main > div ul li a {
    text-decoration: none;
    color: black;
}
main form table td {
    text-align: center;
    padding: 0.5rem;
}
main form table td,main form table th,main form table {
    border: 1px solid black;
    border-collapse: collapse;
}
main form input[type=submit],main > a {
    color: white;
    padding: 0.3rem;
    border: none;
    border-radius: 0.1rem;
}
main form input[type=submit]:hover {
    cursor: pointer;
}
main form > input[type=submit] {
    margin-top: 1rem;
}
main form[method=get] {
    flex-direction: row;
    align-items: center;
}
main form[method=get] input[type="submit"] {
    margin:0;
}
main form[method=get] input[type=search] {
    width: 15rem;
    padding: 0.25rem;
    border: 1px solid black;
    outline: none;
}
td > input[type=submit] {
    width: 100%;
}
.odstranit {
    background-color: #C70000;
    color: white;
    padding: 0.3rem;
    border: none;
    border-radius: 0.1rem;
}
.odstranit:hover {
    cursor: pointer;
}
input[name=odstranitProdukt]:not(input[type=submit]) {
    margin-top: 1rem;
}
input[name=odstranitProdukt]:not(input[type=submit]):hover {
    cursor: pointer;
}
main form input[type=submit]:not(.odstranit) {
    background-color: red;
}
td img {
    width: 5rem;
}
main > h1 {
    margin-left: 1rem;
}
main > a {
    text-decoration: none;
    margin-left: 1rem;
    border-radius: 0.15rem;
}
main form > section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 10;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 3rem; /* Location of the box */
}

.modal > div {
    background-color: #fefefe;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
}
span {
    color: white;
    background-color: red;
    padding: 0.2rem;
    border-radius: 0.1rem;
    text-align: center;
}
span:hover {
    cursor: pointer;
}
form > b {
    color: red;
}
td >div {
    display: flex;
    align-items: center;
    justify-content: space-between
}
td >div img {
    width: 2rem;
}
textarea {
    min-width: 30rem;
    min-height: 10rem;
}
th {
    padding: 0.2rem;
}