main > form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}
td {
    width: 100%;
}
main > section {
    padding: 1rem;
}
main > section > div {
    display: flex;
    flex-wrap: wrap;
}
main >section >div a {
    margin-right: 1rem;
}
body main > div {
    background-color: #d6d6d6;
}
body main > div ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 0;
    flex-wrap: wrap;
}
body main > div ul li {
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.1rem;
    margin: 0.5rem;
}
body main > div ul li a {
    text-decoration: none;
    color: black;
}
main form table td {
    text-align: center;
}
main form table td,main form table th,main form table {
    border: 1px solid black;
    border-collapse: collapse;
}
main form input[type=submit] {
    background-color: red;
    color: white;
    padding: 0.3rem;
    border: none;
    border-radius: 0.1rem;
}
main form input[type=submit]:hover {
    cursor: pointer;
}
main form > input[type=submit] {
    margin-top: 1rem;
}
main form[method=get] {
    flex-direction: row;
    align-items: center;
}
main form[method=get] input[type="submit"] {
    margin:0;
}
td > input[type=submit] {
    width: 100%;
}