html {
    overflow-x: hidden;
}
body {
    font-family: Segoe UI Light, Segoe UI, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    margin:0;
}

header {
    width: 100%;
    height: 6rem;
    background-color: #187AD9;
    display: flex;
    justify-content: space-between;
    color:#F6F6F6;
    position: fixed;
    top: 0;
    z-index: 2;
}
header nav {
    display: flex;
    align-items: center;
}
header nav:first-child a {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    text-decoration: none;
    color: #F6F6F6;
}

header img {
    width: 2.5rem;
}
header nav:first-child img:first-child {
    height: 2.75rem;
    margin-left: 3rem;
}
header nav:first-child img:first-child:hover {
    cursor: pointer;
}
header h1 {
    text-decoration: none;
}
header nav:first-child img:last-child {
    height: 1.95rem;
    margin-left: 0.5rem;
}
header nav:last-child {
    margin-right: 1vw;
}
header form {
    display: flex;
    height: 3rem;
}
header form input {
    background-color: #F6F6F6;
    border: none;
    outline: none;
    font-size: large;
    padding-left: 1rem;
    border-bottom-left-radius: 0.15rem;
    border-top-left-radius: 0.15rem;
    text-overflow: ellipsis;
}
header .krizek {
    display: none;
    background-color: #C70000;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
}
header .krizek:hover {
    cursor: pointer;
}
header button {
    background-color: #F6F6F6;
    border: none;
    cursor: pointer;
    border-top-right-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
}
.vypln {
    height: 6rem;
}
.nadpis {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
}

.dekorace-cara {
    width:90% ;
    background-color: #70707070;
    height: 2px;
    position: absolute;
}
.bily-prostor {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}
main .doporucene-produkty {
    background-color: rgb(128, 128, 128, 0.093);
}
.sipky-doporuceny-produkt {
    display: flex;
    justify-content: center;
}
.slider-polozky {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-polozky .polozka {
    height: 1rem;
    width: 3rem;
    background-color: #FFFFFF;
    margin: 0.5rem;
    border-radius: 0.15rem;
    transition: background-color 0.15s ease-in ;
}
.slider-polozky .polozka:first-child {
    background-color: #1c1c1c;
}
.sipka {
    width: 10%;
    margin: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.sipka:hover {
    cursor: pointer;
}
.sipka img {
    height: 5rem;
    
}
.sipka:last-child img:last-child {
    transform: scaleX(-1);
}
.doporuceny-produkt {
    width: 70%;
    margin-top: 2rem;
    background: #FFFFFF;
    border-radius: 0.15rem;
    display: flex;
    position: relative;
}
.doporuceny-produkt .obrazek {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}
.doporuceny-produkt .obrazek img {
    width: 15rem;
}
.doporuceny-produkt .parametry {
    padding: 1rem;
    width: 70%;
}
.doporuceny-produkt .parametry h3 {
    font-size: 2rem;
    margin: 0.25rem 0 0.75rem 0;
    text-wrap: wrap;
}
.cena-recenze {
    display: flex;
    align-items: center;
}
.cena-recenze b {
    color:#C70000;
    font-size: 2rem;
    
}
.cena-recenze .recenze  {
    background-color: #DCDCDCDC;
    margin-left: 1rem;
    height: 2.5rem;
    width: 5rem;
    border-radius: 0.15rem;
    display: flex;
    align-items: center;
    padding-left:0.5rem ;
}
.cena-recenze .recenze img {
    height: 2rem;
}
.cena-recenze .recenze .hodnota-recenze {
    display:flex;
    justify-content: center;
    width: 100%;
    font-size: larger;
    font-weight: bold;
}
.parametry p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 75%;
    margin-bottom: 3vw;
    color: #919191;
    text-overflow: ellipsis;
    overflow: hidden;
}
.parametry .tlacitko {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    text-align: center;
}
.parametry .tlacitko a {
    width: 3rem;
    background-color: #C70000;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #F6F6F6;
    font-weight: bold;
    letter-spacing: 1px;
}
.produkty-ve-sleve {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1vw;
    margin: 0 4vw;
}
.produkty-ve-sleve a {
    border: #70707070 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding:1vw;
}
.produkty-ve-sleve a:hover {
    border: 1px solid rgb(129, 129, 255);
    cursor: pointer;
}
.produkt-ve-sleve {
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
}
.obrazek-nazev {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.obrazek-nazev img {
    width: 18vw;
    align-self: center;
}
.obrazek-nazev h3 {
    margin: 0.45rem 0 0.25rem 0;
    color: #000000;
}
.obrazek-nazev h4 {
    margin: 0.25rem 0 2rem 0;
    color:#70707090 ;
}
.produkty-ve-sleve a .dekorace-cara {
    position: static;
    width: 90%;
}
.ceny {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin-top: 1.5rem;
    padding-bottom: 0.5rem;
}
.produkty-ve-sleve s {
    color: #70707090;
}
.produkty-ve-sleve b {
    color:#C70000;
    font-size: xx-large;
}
.sporty {
    width: 100%;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.sporty a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    text-decoration: none;
    color: #000000;
    margin: 1rem;
}
.sporty a img {
    width: 10rem;
    margin-bottom: 1.5rem;
}
.znacky {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.znacky .dekorace-cara {
    width: 1px;
    height: 9rem;
    margin: 0 2rem;
    position: static;
}
.znacky a {
    width: 100%;
    display: flex;
    justify-content: center;
}
.znacky img {
    width: 15vw;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #187AD9;
    color: #FAFAFA;
    height: 15rem;
    width: 90%;
    font-size: 1rem;
    padding:0 5%;
}
aside {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin:6rem 0 0 0;
    background-color: #00000040;
    visibility: hidden;
    transition:visibility 0.05s ease-in;
}
aside nav {
    height: inherit;
    width: 15rem;
    background-color: #1967b5;
    position: fixed;
    transition:left 0.07s ease-in,top 0.07s ease-in;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6rem;
    top: 0;
    bottom: 0;
    letter-spacing: 1px;
}
aside nav img {
    width: 2.5rem;
}
aside nav ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
aside nav li {
    color: #F6F6F6;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: #000000 solid 1px;
}
aside nav a  {
    text-decoration: none;
}
aside nav li:hover {
    background-color: #54a6ff;
    color: #1c1c1c;
}

@media only screen and (max-width: 1200px) {
    .sporty {
        grid-template-columns: repeat(2, 1fr);
    }
    .sporty a img {
        width: 20vw;
    }
    .produkty-ve-sleve {
        grid-template-columns: repeat(2,1fr);
    }
    .produkty-ve-sleve a {
        width: 35vw;
    }
    .obrazek-nazev img {
        width: 30vw;
    }
}
@media only screen and (max-width: 1020px) {
    .doporuceny-produkt {
        flex-direction: column;
    }
    .parametry .tlacitko a {
        width: 100%;
    }
    .doporuceny-produkt .parametry {
        width: 92%;
        padding: 4%;
    }
    .parametry .tlacitko {
        justify-content: center;
        align-items: normal;
    }
    .parametry p {
        margin-bottom: 1rem;
    }
    header nav:first-child img:first-child {
        margin-left: 2vw;
    }
}

@media only screen and (max-width: 850px) {
    .produkty-ve-sleve {
        grid-template-columns: repeat(1,1fr);
    }
    .produkty-ve-sleve a {
        width: 60vw;
    }
    .obrazek-nazev img {
        width:50vw;
        padding:1vw 0;
    }
    .sporty {
        grid-template-columns: repeat(1, 1fr);
        margin: 2vw 0;
    }
    .sporty a img {
        width: 35vw;
        margin-bottom: 1.5vw;
    }
}
@media only screen and (max-width: 650px) {
    header {
        align-items: center;
        font-size: 2.5vw;
        height: 12vw;
    }
    header img {
        width: 6vw;
    }
    header nav:first-child a {
        margin-left: 3vw;
    }
    .vypln {
        height: 12vw;
    }
    .nadpis {
        margin: 2vw 0;
    }
    aside nav {
        padding-top: 12vw;
        width: 100%;
        height: auto;
        bottom:unset;
        left: 0;
    }
    aside nav li {
        font-size: 3vw;
        padding: 3.5vw 0;
    }
    aside nav img {
        width: 6vw;
    }
    aside {
        margin-top: 7vw;
    }
    header form {
        height: 7vw;
    }
    header form input {
        width: 30vw;
        font-size: 3vw;
    }
}
@media only screen and (max-width: 600px) {
    .znacky .dekorace-cara {
        display: none;
    }
    .znacky {
        flex-direction: column;
    }
    .znacky img {
        width: 40vw;
        margin-bottom: 10vw;
    }
    .znacky a:last-child img {
        margin: 0;
    }
    .doporuceny-produkt .parametry h3 {
        font-size: 6.5vw;
    }
    .cena-recenze b {
        font-size: 6.5vw;
    }
    .cena-recenze .recenze .hodnota-recenze {
        font-size: 4vw
    }
    .cena-recenze .recenze img {
        height: 5.5vw;
    }
    .cena-recenze .recenze {
        width: 22%;
        height: 8vw;
        padding:0 1vw;
    }
    .parametry p {
        display: none;
    }
    .sipka img {
        height: 11vw;
    }
    .sipka {
        margin: 0 2vw;
    }
    .tlacitko {
        margin-top: 2.5vw;
    }
    .slider-polozky .polozka {
        width: 9vw;
        height: 3vw;
        margin: 1vw;
    }
    .doporuceny-produkt .obrazek img {
        width: 50vw;
    }
    .nadpis h2 {
        font-size: 5vw;
    }
    .parametry .tlacitko a {
        font-size: 3vw;
    }
    .obrazek-nazev h3 {
        font-size: 5vw;
    }
    .obrazek-nazev h4 {
        font-size: 4vw;
        margin-bottom: 2vw;
    }
    .produkty-ve-sleve s {
        font-size: 3.5vw;
    }
    .produkty-ve-sleve b {
        font-size: 6vw;
    }
    .sporty b {
        font-size: 4.5vw;
    }
    .produkty-ve-sleve a {
        width: 80vw;
    }
    header nav:first-child img:last-child {
        margin-left: 1vw;
    }
    .ceny {
        margin-top: 2vw;
    }
    .nadpis .dekorace-cara {
        display:none;
    }
    footer {
        font-size: 4vw;
    }
}