
main {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.kosik {
    background-color: #DCDCDC;
    padding: 2%;
    border-radius: 0.15rem;
    font-size: 1rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-bottom: 2rem;
}
.kosik > div {
    display: flex;
    background-color: white;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}
.kosik > div section {
    display: flex;
    align-items: center;
}
.kosik > div section > *{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.kosik > div section > *:last-child{
    flex-direction: row;
}
.kosik > div section:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24rem;
}
.kosik > div section > b {
    text-align: center;
}
.kosik > div section p {
    margin: 0;
}
.kosik > div img {
    height: 5rem;
}
.kosik div img:last-child {
    height: 2rem;
}
.kosik > div input {
    width: 2rem;
    height: 1rem;
}
.kosik > div button {
    display: flex;
    background: white;
    border: none;
}
.kosik > div button:hover {
    cursor: pointer;
}
.kosik > form {
    display: flex;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}
main .kosik a:last-of-type {
    background-color: red;
    color: white;
    padding: 1vw;
    margin: 1vw;
    border-radius: 0.15rem;
    text-decoration: 0;
}
main .kosik > form input {
    background-color: red;
    color: white;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.15rem;
}
main .kosik > form input:first-child {
    background-color: #C70000;
}
main .kosik > form input:hover {
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .kosik {
        width: 90%;
        padding: 5% 10%;
        font-size: 1.5rem;
    }
    main a:last-of-type {
        margin: 1rem 0;
        padding: 0.5rem;
        font-size: 1.5rem;
        width: 90%;
        text-align: center;
    }
    .kosik > div {
        font-size: small;
    }
}
@media only screen and (max-width: 620px) {
    .kosik {
        font-size: 4vw;
    }
    .kosik > div {
        flex-direction: column;
    }
    .kosik > div section:last-child {
        width: 80%;
        justify-content: space-evenly;
    }
    main .kosik > form input {
        font-size: x-small;
    }
    .kosik > div section > *:last-child {
        margin-left: 1rem;
    }
    .kosik > div section:last-child {
        flex-direction: column;
        font-size: 4vw;
    }
}
@media only screen and (max-width: 400px) {
    .kosik > div img {
        height: 40vw;
    }
    .kosik > div section {
        flex-direction: column;
        font-size: 5vw;
    }
    .kosik > div section:last-child {
        font-size: 5vw;
    }
    .kosik > form {
        flex-direction: column;
    }
    main .kosik > form input {
        width: 100%;
    }
    main .kosik > form input:last-of-type {
        margin-top: 5vw;
    }
}
