.shrnuti {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.shrnuti table {
    border-collapse: collapse;
    width: 40rem;
}
.shrnuti > * {
    margin:1.5rem 0 0 0;
}
.shrnuti table tr:first-child td:first-child {
    border-top-left-radius: 0.5rem;
}
.shrnuti table tr:first-child td:last-child {
    border-top-right-radius: 0.5rem;
}
.shrnuti table tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}
.shrnuti table tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}
.shrnuti table td:first-child div {
    background-color: white;
    padding: 0.45rem;
    border-radius: 0.25rem;
}
.shrnuti td {
    padding: 0.75rem;
    text-align: center;
    background-color: #f7f7f7dc;
}
main form > div input {
    padding: 0.125rem;
    width: 5rem;
}
main form div input[type=submit] {
    width: unset;
    margin-left: 0.5rem;
}
.shrnuti table tr td:last-child {
    text-align: left;
}
.shrnuti table:first-of-type tr:last-child td b {
    color: red;
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
}
.shrnuti table:first-of-type tr:last-child td {
    padding-right: 1.25rem;
}
main form > div section {
    display: flex;
    align-items: center;
}

.shrnuti img {
    width: 4rem;
}
.shrnuti form {
    background-color: #f7f7f7dc;
    padding: 1rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 38rem;
}
.shrnuti input[type=submit]:hover {
    cursor: pointer;
}
.shrnuti input[type=submit] {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.15rem;
}
.shrnuti > input {
    width: 40rem;
    padding: 1rem;
    font-size: larger;
}
.shrnuti form > p {
    font-size: smaller;
    color: #7c7c7c;
    margin-top: 0.5rem;
}
.shrnuti > input[type=submit]:last-of-type {
    margin-bottom: 1rem;
}
main form > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
@media only screen and (max-width:650px) {
    .shrnuti table {
        width: 90vw;
    }
    .shrnuti img {
        width: 20vw;
    }
    .shrnuti form {
        width: 86vw;
        margin-top: 1rem;
        padding: 2vw;
        font-size: 3vw;
    }
    .shrnuti input[type=submit] {
        padding: 2vw;
        font-size: 2vw;
    }
    .shrnuti table:first-of-type td {
        font-size: 3vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 2vw;
    }
    .shrnuti table:first-of-type tr:not(.shrnuti table:first-of-type tr:first-of-type) {
        border-top: 1px solid rgb(191, 191, 191);
    }
    .shrnuti > input[type=submit]:last-of-type {
        width: 90vw;
        margin: 1rem 5vw;
    }
    .shrnuti table:first-of-type tr:last-child td b {
        font-size: 4vw;
    }
    .shrnuti table:last-of-type {
        font-size: 3vw;
    }
    main form > div input[type=text] {
        padding: 0.15vw;
        width: 15vw;
    }
}