main > div:nth-child(2) {
    display: flex;
    justify-content: center;
    min-height: 75vh;
}
main form {
    padding: 0 1rem 1rem 1rem;
    background-color: #f7f7f7dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    justify-content: center;
}

.udaj {
    display: flex;
    padding: 0.2rem;
    width: 25rem;
    justify-content: space-between
}

.udaj > *:first-child {
    margin-left: 1rem;
    width: 15rem;
}
main form section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
main a {
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: bold;
}
main form input[type=submit],main a {
    font-size: medium;
    background-color: red;
    color: white;
    padding: 0.2rem;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    margin-top:1rem;
}
main form input[type=submit]:hover,main a:hover {
    cursor: pointer;
}
@media only screen and (max-width: 650px) {
    main form {
        width: 100%;
    }
    .udaj {
        font-size: 4vw;
        width: 100%;
        display: flex;
    }
    main form section {
        width: 100%;
    }
}
@media only screen and (max-width: 450px) {
    main form input[type=submit], main a {
        font-size: 4vw;
    }
    h4 {
        font-size: 6vw;
    }
    .udaj {
        font-size: 6vw;
        flex-direction: column;
        align-items: center;
    }
    .udaj > *:first-child {
        font-size: 5vw;
        margin: 0;
        width: 100%;
    }
}