.vypis {
    display: flex;
    flex-direction: row;
}
main .vypis > form {
    width: 15%;
    min-height: 30rem;
    background-color: #f6f6f6;
    padding:1vw;
}
.nadpis-produkty {
    width: 75%;
    min-height: 30rem;
    padding: 1% 7% 0 3%;
}
.filtr {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.15rem;
    border: 1px solid rgba(0, 0, 0, 0.049);
    padding: 0.5rem;
    margin-top: 0.5rem;
}
.nazev-filtru {
    display: flex;
    align-items: center;
}
.nazev-filtru img {
    width: 1.5rem;
    transition: transform 0.05s ease-in;
}
.nazev-filtru img:hover {
    cursor: pointer;
}
.filtry .cena b {
    margin-bottom: 1vw;
}
/*abych neměl na pravé straně inputu spinner*/
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    border: 1px solid rgb(161, 161, 161);
    border-radius: 0.15rem;
    outline: none;
    padding:2%;
    text-align: center;
}
.nadpis-produkty .produkty a {
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid white;
}
.nadpis-produkty .produkty > a:hover {
    border: 1px solid rgb(129, 129, 255);
    cursor: pointer;
}
.nadpis-produkty a img {
    width: 15rem;
}
.parametry {
    display: flex;
    flex-direction: column;
    width:90%;
}
.produkty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.093);
    padding-top: 2rem;
    margin-top: 1.5rem;
}
.parametry b {
    margin: 0.25rem 0;
    color: rgb(126, 126, 126);
}
#cenaVeSleve,#cena {
    color: #C70000;
    font-size: x-large;
}
.maCenuVeSleve #cena  {
    color: rgba(0, 0, 0, 0.61);
    font-size: small;
    text-decoration: line-through;
}
.parametry h2 {
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
#sport {
    color: rgb(141, 141, 141);
}

.hodnoty-filtru {
    display: flex;
    flex-direction: column;
}
.vypis > form input[type=submit] {
    width: 100%;
    background-color: #C70000;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding:0.2rem
}
.vypis input[type=submit]:hover {
    cursor: pointer;
}
.nadpis-produkty > form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}
.nadpis-produkty > form a {
    background-color: red;
    border-radius: 0.1rem;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    text-decoration: none;
}
.nadpis-produkty > form a:last-of-type {
    margin-right: 0.25rem;
}
.nadpis-produkty > form a:hover {
    cursor: pointer;
}
.nadpis-produkty > form b{
    text-align: center;
    border: none;
    text-align: center;
    outline: none;
    width: 1rem;
    background-color: #f6f6f6;
}
.nadpis-produkty > form p {
    text-align: center;
}
.nadpis-produkty > a {
    padding: 0.5rem;
    color: white;
    background-color: #C70000;
    border-radius: 0.2rem;
    text-decoration: none;
}

@media only screen and (max-width: 1100px) {
    .info-pridat {
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 650px) {
    .vypis {
        flex-direction: column;
    }
    main .vypis > form {
        width: 90%;
        min-height: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 5%;
    }
    .vypis > form > * {
        width: 90%;
    }
    .vypis > form input[type=submit] {
        margin: 0.5rem 0;
        height: 2rem;
    }
    input[type="number"] {
        padding: 0.25rem;
        width: 7.5rem;
    }
}