.vypis {
    display: flex;
    flex-direction: row;
}
main form {
    width: 15%;
    min-height: 30rem;
    background-color: #f6f6f6;
    padding:1vw;
}
.nadpis-produkty {
    width: 75%;
    min-height: 30rem;
    padding: 1% 7% 0 3%;
}
.filtr {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.15rem;
    border: 1px solid rgba(0, 0, 0, 0.049);
    padding: 1vw;
    margin-top: 0.5rem;
}
.nazev-filtru {
    display: flex;
    align-items: center;
}
.nazev-filtru img {
    width: 1.5rem;
    transition: transform 0.05s ease-in;
}
.nazev-filtru img:hover {
    cursor: pointer;
}
.filtry .cena b {
    margin-bottom: 1vw;
}
/*abych neměl na pravé straně inputu spinner*/
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    border: 1px solid rgb(161, 161, 161);
    border-radius: 0.15rem;
    outline: none;
    padding:2%;
    width: 50%;
    text-align: center;
}
.nadpis-produkty a {
    border: solid 1px rgb(220, 220, 220);
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    text-decoration: none;
    color: black;
    background-color: white;
}
.nadpis-produkty a:hover {
    border: 1px solid rgb(129, 129, 255);
    cursor: pointer;
}
.nadpis-produkty a img {
    width: 15rem;
}
.parametry {
    display: flex;
    flex-direction: column;
    width:90%;
}
.vypis {
    display: flex;
}
.produkty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.093);
}
.parametry b {
    margin: 0.25rem 0;
    color: rgb(126, 126, 126);
}
#cenaVeSleve {
    color: red;
    font-size: x-large;
}
#cena {
    color: red;
    font-size: x-large;
}
.maCenuVeSleve #cena  {
    color: rgba(0, 0, 0, 0.61);
    font-size: small;
    text-decoration: line-through;
}
.parametry h2 {
    margin-bottom: 0;
}
#podkategorie {
    color: rgb(26, 26, 26);
}

.hodnoty-filtru {
    display: flex;
    flex-direction: column;
}